.choice {
        list-style-type: none;
        margin: 1.5rem 1rem;
        position: relative;
        display: flex;
        align-items: center;

        label {
            position:absolute;
            left: 2rem;
            font-size: 1rem;
            font-family: 'Roboto Mono', monospace;
            
          }

          input:checked ~ .checkmark {
            background-color: #2196F3;
          }
}