.quiz-container {
  background-color: #282828;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(100, 100, 100, 0.322),
    0 0 5px rgba(255, 255, 255, 0.856);

  button {
    background-color: #2196f3;
    font-family: 'Roboto Mono', monospace;
    color: #f8f8f8;
    outline: none;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 30px;
  }

  button:hover {
    background-color: #0e65acdc;
    color: #ffffff;
    transition: 0.2s ease-in-out;
  }

  .quiz-result {
    padding: 1rem 0 0;
    position: relative;
    width: 100%;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      padding: 1rem 0;
      text-align: center;
    }

    .special {
      -webkit-text-stroke: 1px #888;
      color: transparent;
    }

    ul {
      list-style: none;
      align-self: center;
      padding: 1rem;

      li {
        color: #ececec;
        align-self: flex-start;

          span.right {
            color: lime;
          }

          span.wrong {
            color: tomato;
          }
        }
      }
    }
  }
